<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="get" th:action="@{/new}">
    <input type="submit" value="Add User"/>
</form>
<br/>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last_Name</th>
        <th>Email</th>
        <th>Edit/Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <form th:method="get" th:action="@{/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Edit"/>
            </form>
            <form th:method="delete" th:action="@{/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>